In [10]:
# Import the required libraries and dependencies
import pandas as pd
from prophet import Prophet
import datetime as dt
import numpy as np
%matplotlib inline

In [11]:
# Read multiple sheets from the same Excel file
#df1 = pd.read_excel("EV.data.xlsx", sheet_name="EV sales by model")
#df2 = pd.read_excel("EV.data.xlsx", sheet_name="Sheet2")
#df3 = pd.read_excel("EV.data.xlsx", sheet_name="Sheet3")
# Alternatively, you can specify the sheet indices instead of the sheet names
df1 = pd.read_excel("EV.data.xlsx", sheet_name=0)
df2 = pd.read_excel("EV.data.xlsx", sheet_name=1)
df3 = pd.read_excel("EV.data.xlsx", sheet_name=2)
df4 = pd.read_excel("EV.data.xlsx", sheet_name=3)
df5 = pd.read_excel("EV.data.xlsx", sheet_name=4)
df6 = pd.read_excel("EV.data.xlsx", sheet_name=5)
df7 = pd.read_excel("EV.data.xlsx", sheet_name=6)
df8 = pd.read_excel("EV.data.xlsx", sheet_name=7)
df9 = pd.read_excel("EV.data.xlsx", sheet_name=8)

In [12]:
print(df9.head)

<bound method NDFrame.head of       sessionId  kwhTotal  dollars              created                ended  \
0       1366563      7.78     0.00  0014-11-18 15:40:26  0014-11-18 17:11:04
1       3075723      9.74     0.00  0014-11-19 17:40:26  0014-11-19 19:51:04
2       4228788      6.76     0.58  0014-11-21 12:05:46  0014-11-21 16:46:04
3       3173284      6.17     0.00  0014-12-03 19:16:12  0014-12-03 21:02:18
4       3266500      0.93     0.00  0014-12-11 20:56:11  0014-12-11 21:14:06
...         ...       ...      ...                  ...                  ...
3390    7021565      6.74     0.00  0015-10-01 16:31:18  0015-10-01 19:59:08
3391    3758092      6.86     0.00  0015-10-02 16:28:48  0015-10-02 19:27:05
3392    5858374      6.07     0.00  0015-09-30 16:54:22  0015-09-30 20:24:06
3393    2586645      5.74     0.00  0015-09-24 11:43:02  0015-09-24 13:55:12
3394    7860608      6.95     0.00  0015-10-01 16:43:05  0015-10-01 19:42:06

      startTime  endTime  chargeTimeHrs weekday platform  ...  managerVehicle  \
0            15       17       1.510556     Tue  android  ...               0
1            17       19       2.177222     Wed  android  ...               0
2            12       16       4.671667     Fri  android  ...               0
3            19       21       1.768333     Wed  android  ...               0
4            20       21       0.298611     Thu  android  ...               0
...         ...      ...            ...     ...      ...  ...             ...
3390         16       19       3.463889     Thu      ios  ...               0
3391         16       19       2.971389     Fri      ios  ...               0
3392         16       20       3.495556     Wed  android  ...               0
3393         11       13       2.202778     Thu      ios  ...               1
3394         16       19       2.983611     Thu      ios  ...               0

      facilityType  Mon  Tues  Wed  Thurs  Fri  Sat  Sun  reportedZip
0                3    0     1    0      0    0    0    0            0
1                3    0     0    1      0    0    0    0            0
2                3    0     0    0      0    1    0    0            0
3                3    0     0    1      0    0    0    0            0
4                3    0     0    0      1    0    0    0            0
...            ...  ...   ...  ...    ...  ...  ...  ...          ...
3390             2    0     0    0      1    0    0    0            1
3391             2    0     0    0      0    1    0    0            1
3392             3    0     0    1      0    0    0    0            1
3393             2    0     0    0      1    0    0    0            1
3394             3    0     0    0      1    0    0    0            1

[3395 rows x 24 columns]>

In [13]:
df9.dtypes
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3395 entries, 0 to 3394
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sessionId       3395 non-null   int64
 1   kwhTotal        3395 non-null   float64
 2   dollars         3395 non-null   float64
 3   created         3395 non-null   object
 4   ended           3395 non-null   object
 5   startTime       3395 non-null   int64
 6   endTime         3395 non-null   int64
 7   chargeTimeHrs   3395 non-null   float64
 8   weekday         3395 non-null   object
 9   platform        3395 non-null   object
 10  distance        2330 non-null   float64
 11  userId          3395 non-null   int64
 12  stationId       3395 non-null   int64
 13  locationId      3395 non-null   int64
 14  managerVehicle  3395 non-null   int64
 15  facilityType    3395 non-null   int64
 16  Mon             3395 non-null   int64
 17  Tues            3395 non-null   int64
 18  Wed             3395 non-null   int64
 19  Thurs           3395 non-null   int64
 20  Fri             3395 non-null   int64
 21  Sat             3395 non-null   int64
 22  Sun             3395 non-null   int64
 23  reportedZip     3395 non-null   int64
dtypes: float64(4), int64(16), object(4)
memory usage: 636.7+ KB

In [14]:
df9 = pd.read_csv('data.csv', parse_dates=['arrival_date'])

week_df = df_data.groupby(df_data['arrival_date'].dt.weekday_name).mean()
print (week_df)

/var/folders/hx/4c5cy_wd2l35hhztry24p2mc0000gn/T/ipykernel_1391/1318295584.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df9 = pd.to_datetime(df9['weekday'])

DateParseError: Unable to parse datetime string: Tue, at position 0