In [1]:
#import addons
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_excel("EVOwnership.xlsx")

In [3]:
df1.head()

  State   Taxes  fuel  Insurance
0     WA    338  1119       1016
1     Or   -158  1116       1037
2     CA    295  1141       2716
3     ID    276  1246        849
4     NV     90  1470       1299